extends ../layouts/default

block main
  .container
    .row
      .col-md-12
        .card
          .card-header.text-center(style="background-color: #2c3e50; color: #ffffff;")
            h3 Tổng quan hệ thống đếm số người ra vào cửa hàng

    .row.mt-4
      //- Thông tin nhanh
      .col-md-4
        .card
          .card-body
            h5 Số người trong cửa hàng: <span id="people-inside">#{record_store_status.people_inside}</span>
            p.small Thời gian cập nhật: <span id="time-update">#{record_store_status.updated_at}</span>
      .col-md-4
        .card
          .card-body
            h5 Số người vào: <span id="people-in">#{record_store_status.people_in}</span>
            p.small Thời gian cập nhật: <span id="time-update">#{record_store_status.updated_at}</span>
      .col-md-4
        .card
          .card-body
            h5 Số người ra: <span id="people-out">#{record_store_status.people_out}</span>
            p.small Thời gian cập nhật: <span id="time-update">#{record_store_status.updated_at}</span>

    .row.mt-4
      .col-md-8
        .card
          .card-body
            h5 Biểu đồ thống kê
            .chart-container
              canvas#myChart(width="300" height="150") // Biểu đồ nhỏ hơn

      .col-md-4
        .card
          .card-body
            h5 Trạng thái
            .btn-group(role="group")
              button.btn.btn-success.btn-state(type="button" state="on" id='onButton') On
              button.btn.btn-outline-danger.btn-state(type="button" state="off" id='offButton') Off
        
        // Khung thời điểm đông người nhất
        .card.mt-4
          .card-body
            h5 Thời điểm đông người nhất
            // Bọc bảng trong một div có thanh cuộn
            .table-responsive(style="max-height: 300px; overflow-y: auto;")
              table.table.table-bordered
                thead
                  tr
                    th Thời gian
                    th Số người
                tbody
                  each slot in time_slots
                    tr
                      td #{slot.time}
                      td #{slot.people_count}

    //- Script cho biểu đồ
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="js/dashboard.js") 

    